* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background: rgba(0, 0, 0, 0.1);

}

.container {
  margin: auto;
}

.carousel {
  width: 640px;
  height: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 64px auto 0;
  position: relative;
  border-radius: 8px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  transform: translateX(0);
  transition: all 0.5s ease-out;
}

.cat-container {
  position: relative;
}

.cat-container img {
  width: 640px;
  height: 480px;
  object-fit: cover;
}

.description {
  height: 100px;
  width: 100%;
  position: absolute;
  transition: all 0.5s ease-out;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.carousel:hover .description {
  cursor: text;
  transform: translateY(-100px);
}

.description span{
  display: block;
}

.buttons {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  padding: 12px;

}

.button {
  border: none;
  color: #fff;
  cursor: pointer;
  width: 100px;
  height: 20vh;
  transition: all 0.5s ease-out;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.button span {
  font-size: 2rem;
}

.button:hover {
  background: rgba(0, 0, 0, 0.4);
}
